# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Database
database/nhl.db

# Jupyter
.ipynb_checkpoints

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/